.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 35%;
    height: auto;
    border: solid 2px black;
    border-radius: 10px;
  }
  
.leftside {
    padding: 5%;
}

.rightside {
    position: relative;
}

.rightside::before {
    content: '';
    background-image: url(./images/math.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
    bottom: 6%;
    right: 5%;
    position: absolute;
}